

	<!-- 标题 -->
	<div class="card-header bg-dark font-white">

	<table align="center" width="100%">
		<tr>
			<td width="50%" align="center"><strong>组长责任</strong></td>
			
			<td width="50%" align="center"><strong>组员责任</strong></td>
		</tr>

	</table>
	</div>
	<!-- 文本输入框 -->
	<div id="mainContainer" class="container">
		<br>
		<table align="center" width="100%">
			<tr width="100%">
			
				<td width="50%">
					<textarea rows="22px" cols="47px" id="leader" style="resize:none;" >[[${model.lmr.LeaderResponsibility}]]</textarea> 
				</td>
				
				<td width="50%">
					<textarea rows="22px" cols="47px" id="member" style="resize:none;" >[[${model.lmr.MemberResponsibility}]]</textarea> 
				</td>
				
			</tr>
		</table>
		<div class="clear"></div>
	
	</div>
	
	<!-- 按钮 -->
	<div class="card-footer bg-dark font-white">
	<table align="center">
		<tr>

		<td>

		<a class="btn btn-primary" 
				 role="button" id="Update"><i
				class="fa fa-edit" aria-hidden="true">修改</i></a>
				
		<a class="btn btn-info" 
				role="button" id="Reload"><i
				class="fa fa-refresh" aria-hidden="true">重置</i></a>

		</td>
		</tr>

	</table>

	</div>
	







<!-- JavaScript -->

<!--  <!-- 配置文件 -->
 <script src="../../ckeditor/ckeditor.js"></script>
 <script src="../../js/super/leaderMemberResponsibility.js" th:src="@{/js/super/leaderMemberResponsibility.js}"></script>

