
        
<div id="rightContainer">

    <!-- 教师 -->
	<div id="mainContainer" class="container">
		<div class="card ">
			<table>
				<tr>
					<td width="215px" height="200px" >
	                    <img width="200px" height="200px" th:if="${Model.user.avatar}==null" th:src="@{../images/avatar-defualt.jpg}">
	                  	<img width="200px" height="200px" th:if="${Model.user.avatar}!=null" th:src="@{'http://127.0.0.1/'+${Model.user.avatar}}">
					</td>
					<td>
						<h1 th:text="${Model.course.courseName}">教师</h1>
						<p th:text="${Model.course.id}" style="colour:grey"></p>
					</td> 
				</tr>
			</table>
			<table class="table table-striped">
				<tr width="100%" height="60px" >
					<td width="50%">
					<strong>性别：</strong>
					<span th:text="${Model.course.sex}"></span>
					</td>
					<td width="50%">
					<strong>教师类型：</strong>
					<span th:text="${Model.course.courseType}"></span>
					</td>
				</tr>
				
				<tr width="100%" height="60px">
					<td width="50%">
					<strong>所属学院：</strong>
					<span th:text="${Model.course.college}"></span>
					</td>
					<td width="50%">
					<strong>所属系部：</strong>
					<span th:text="${Model.course.department.department}"></span>
					</td>
				</tr>
				
				<tr width="100%">
					<td colspan="2" width="100%" height="60px">
					<strong>专长：</strong>
					<br><br>
					<span th:utext="${Model.course.expert}" readonly></span>
					</td>
				</tr>
				
				<tr width="100%">
					<td colspan="2" width="100%" height="60px">
					<strong>对学生的期待：</strong>
					<br><br>
					<span th:utext="${Model.course.expectStudent}" readonly></span>
					</td>
				</tr>
			</table>
		</div>
	
	
	</div>
         
</div>


