

<div class="card-header bg-dark font-white">

	<div class="input-group col-md-7 col-xl-6">

		<input type="text" class="form-control" id="searchName"
			placeholder="输入学生姓名进行搜索"> <span class="input-group-btn">
			<button class="btn btn-secondary" type="button" id="searchNameBtn">
				<i class="fa fa-search" aria-hidden="true"></i>
			</button>
		</span> <a class="btn btn-primary" data-toggle="modal"
			data-target="#flipFlop" role="button" id="addStudent"><i
			class="fa fa-plus" aria-hidden="true"></i></a>
			
 		<a class="btn btn-info" data-toggle="modal"
			data-target="#flipFlop" role="button" id="uploadStudentList"><i
			class="fa fa-upload " aria-hidden="true"></i></a>
			
	</div>
</div>

<div id="mainContainer" class="container">
	<div id="mainContainerRepleace" class="row">
		<table class="table table-striped">
			<thead>
				<tr>
					<th data-field="id">学号</th>
					<th data-field="name">姓名</th>
					<th data-field="sex">性别</th>
				    <th data-field="grade">年级</th> 
				 	<th data-field="lengthOfSchooling">学制</th>
				 	<th data-field="trainingLevel">培养层次</th>
				 	<th data-field="department">院系</th>
					<th data-field="major">专业</th>
				    <th data-field="entranceTime">入校时间</th> 
				 	<th data-field="status">学籍状态</th>
				 	<th data-field="classes">班级</th>
					<th data-field="operation">操作</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="Student : ${studentModel.studentList}">
					<td th:text="${Student.id}">学号</td>
					<td th:text="${Student.name}">姓名</td>
					<td th:text="${Student.sex}">性别</td>
				    <td th:text="${Student.grade}">年级</td>
					<td th:text="${Student.lengthOfSchooling}">学制</td> 
					<td th:text="${Student.trainingLevel}">培养层次</td>
					<td th:text="${Student.department}">院系</td>
				    <td th:text="${Student.major}">专业</td>
					<td th:text="${Student.entranceTime}">入校时间</td> 
					<td th:text="${Student.status}">学籍状态</td>
					<td th:text="${Student.classes}">班级</td>

					<td>
						<div>
							<a class="super-edit-student" data-toggle="modal"
								data-target="#flipFlop" role="button"
								data-th-attr="id=${Student.id}"> <i
								class="fa fa-pencil-square-o" aria-hidden="true" title="修改学生信息"></i>
							</a> <a class="super-delete-student" role="button"
								data-th-attr="id=${Student.id}"> <i class="fa fa-times"
								aria-hidden="true" title="删除学生"></i>
							</a>
						</div>
					</td>
				</tr>

			</tbody>

		</table>
		<div th:replace="~{fragments/page :: page}">...</div>

	</div>
</div>

<!-- The modal -->
<div class="modal fade" id="flipFlop" tabindex="-1" role="dialog"
	aria-labelledby="modalLabel" aria-hidden="true" >
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="width:700px">
			<div class="modal-header">
				<h5 class="modal-title" id="modalLabel">新增/编辑</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="formContainer" ></div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal" id="submitEdit">提交</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- JavaScript -->
<script src="../../js/super/student.js" th:src="@{/js/super/student.js}"></script>

