<div class="container">
 
<form th:action="@{/super/}" method="post" th:object="${howtoTeamUpModel.howtoTeamUp}" id="howtoTeamUpForm">
	<input type="hidden" name="id" th:value="*{id}">
	
	 <div class="form-group ">
		<label for="gradeId" class="col-form-label">年级</label>
		<input type="text" class="form-control" id="gradeId" name="gradeId"  th:value="*{gradeId}" maxlength="256" placeholder="请输年级，2到10个字符">
	</div>
	
	<div class="form-group ">
		<label for="teamUpStage" class="col-form-label">组队期</label>
		<input type="text" class="form-control" id="teamUpStage" name="teamUpStage"  th:value="*{teamUpStage}" maxlength="32" placeholder="请输组队期，2到32个字符">
	</div>
	
	 <div class="form-group ">
		<label for="seekAdvisorStage" class="col-form-label">寻找指导老师期</label>
		<input type="text" class="form-control" id="seekAdvisorStage" name="seekAdvisorStage" th:value="*{seekAdvisorStage}" maxlength="32" placeholder="请输寻找指导老师期，2到32个字符">
	</div> 
	
	<div class="form-group ">
		<label for="projectConductionStage" class="col-form-label">专题执行期</label>
		<input type="text" class="form-control" id="projectConductionStage" name="projectConductionStage" th:value="*{projectConductionStage}" maxlength="16" placeholder="请输专题执行期，2到32个字符">
	</div>
	
</form>
 
</div>
<!-- /.container -->
 