 
 
    <style>
        .cropImg {
            position: relative;
            width: 100%;
            height: 300px;
            background-color: #ccc;
            color: #fff;
            line-height: 300px;
            text-align: center;
            border: 1px dashed rgba(0, 0, 0, .4);
        }

        .cropImg > img {
            position: absolute;
            left: 50%;
            top: 50%;
            width: 100%;
            height: 300px;
            -webkit-transform: translate3d(-50%, -50%, 0);
            -moz-transform: translate3d(-50%, -50%, 0);
            -ms-transform: translate3d(-50%, -50%, 0);
            -o-transform: translate3d(-50%, -50%, 0);
            transform: translate3d(-50%, -50%, 0);
        }
    </style>
 
 
<div id="cropImg" class="cropImg">
    <span>图片预览</span>
    <img id="avatarImg" src="">
</div>
<div class="crop" id="crop">
	<form th:action="@{/uploadimg/upload}" enctype="multipart/form-data" method="post" id="avatarform">
    	<input type="file" accept="image/*" class="crop-input" id="cropinput" name="file">
    	
	</form>
    <div class="crop-mask"></div>
</div>


 <!-- JavaScript -->
 <script src="../../js/userspace/avatar.js" th:src="@{/js/userspace/avatar.js}"></script> 