


<div class="card-header bg-dark font-white">

	<a class="btn btn-primary" 
			 role="button" id="update"><i
			class="fa fa-edit" aria-hidden="true">修改</i></a>
			
	<a class="btn btn-info" 
			role="button" id="reload"><i
			class="fa fa-refresh" aria-hidden="true">重置</i></a>
</div>

<div id="mainContainer" class="container">
<br/>
<textarea rows="22px" cols="500px" id="mark" name="mark" style="resize:none;" >




</textarea> 




<div class="clear"></div>


</div>



<!-- JavaScript -->

<!--  <!-- 配置文件 -->
 <script src="../../ckeditor/ckeditor.js"></script>
 <script src="../../js/super/main.js" th:src="@{/js/super/main.js}"></script>

