<div class="container">

<form th:action="@{/teachers/uploadOutline}" enctype="multipart/form-data" method="post" th:object="${courseModel.course}" id="outlineForm">
	<input type="hidden" id="id1" name="id" th:value="*{id}">
	
	<div class="form-group">
		<div class="col-md-12 col-xl-12" id="outlineDiv">
			<label class="col-form-label"><strong>提交大纲：</strong></label>
			<input type="file" name="file" id="file1" />
			<div>
				<button id="submitOutline" type="button" class="btn btn-primary" style="margin-left:0">上传</button>
			</div>
		</div>
		
		<div style="margin-left:15px" th:if="${courseModel.outlineName}!='0'" id="1">
			<label for="name" class="col-form-label"><strong style="color:red">*&thinsp;</strong><i id="outlineName" th:text="${courseModel.outlineName}">大纲</i></label>
			&nbsp;&nbsp;
			<a class="teachers-delete-outline" role="button"> 
			<i class="fa fa-times-circle fa-lg text-danger" title="删除大纲"></i>
			</a>
		</div>
</form>
	
<form th:action="@{/teachers/uploadSchedule}" enctype="multipart/form-data" method="post" th:object="${courseModel.course}" id="scheduleForm">
		<input type="hidden" id="id2" name="id" th:value="*{id}">
		
		<div class="col-md-12 col-xl-12" id="scheduleDiv">
			<label class="col-form-label"><strong>提交教学进度表：</strong></label>
			<input type="file" name="file" id="file2" />
			<div>
				<button id="submitSchedule" type="button" class="btn btn-primary" style="margin-left:0">上传</button>
			</div>	
		</div>
		
		<div style="margin-left:15px" th:if="${courseModel.scheduleName}!='0'" id="2">
			<label for="name" class="col-form-label"><strong style="color:red">*&thinsp;</strong><i id="scheduleName" th:text="${courseModel.scheduleName}">教学进度表</i></label>
			&nbsp;&nbsp;
			<a class="teachers-delete-schedule" role="button"> 
			<i class="fa fa-times-circle fa-lg text-danger" title="删除教学进度表"></i>
			</a>
		</div>
	</div>
	
</form>
 
</div>
<!-- /.container -->


 <!-- JavaScript -->
<script src="../../js/teachers/upload.js" th:src="@{/js/teachers/upload.js}"></script>