<div class="container">

<form th:action="@{/teachers/uploadOutline}" enctype="multipart/form-data" method="post" th:object="${courseModel.course}" id="outlineForm">
	<input type="hidden" id="id1" name="id" th:value="*{id}">
	
	<div class="form-group">
		<div class="col-md-12 col-xl-12" id="outlineDiv">
		
			<label class="col-form-label"><strong>提交大纲：</strong></label>
			<table>
 				<tr>
 				<td>
		 			<div class="input-group">
				  			<span class="input-group-addon"><i class="fa fa-file "></i> </span>
				  			<input id="fileName1" class="form-control" onkeydown="return false;" onpaste="return false;" placeholder="请选择学生名单" />
				  		<div class="input-group-btn">
						<div tabindex="500" class="btn btn-info btn-file">
			    			<i class="fa fa-folder-open"></i>  <span class="hidden-xs">浏览</span><input type="file" name="file" id="file1" multiple="" onchange="showFileName(this.value,1)">
						</div>
						</div>
					</div>
			 	</td>
			 	<td>
		 			<div>
						<button id="submitOutline" type="button" class="btn btn-primary" style="margin-left:0">上传</button>
					</div>
				</td>
				</tr>
			</table>
		</div>
		
		<div style="margin-left:15px" id="1">
			<label id="outlinelabel" th:if="${courseModel.outlineName}!='0'" class="col-form-label"><strong style="color:red">*&thinsp;</strong><a href="#" id="outlineName" th:text="${courseModel.outlineName}">大纲</a></label>
			&nbsp;&nbsp;
			<a th:style="${courseModel.outlineName}=='0'?'display:none'" class="teachers-delete-outline" role="button"> 
			<i class="fa fa-times-circle fa-lg text-danger" title="删除大纲"></i>
			</a>
		</div>
</form>
	
<form th:action="@{/teachers/uploadSchedule}" enctype="multipart/form-data" method="post" th:object="${courseModel.course}" id="scheduleForm">
		<input type="hidden" id="id2" name="id" th:value="*{id}">
		
		<div class="col-md-12 col-xl-12" id="scheduleDiv">
			<label class="col-form-label"><strong>提交教学进度表：</strong></label>		
 			<table>
 				<tr>
 				<td>
		 			<div class="input-group">
				  			<span class="input-group-addon"><i class="fa fa-file "></i> </span>
				  			<input id="fileName2" class="form-control" onkeydown="return false;" onpaste="return false;" placeholder="请选择学生名单" />
				  		<div class="input-group-btn">
						<div tabindex="500" class="btn btn-info btn-file">
			    			<i class="fa fa-folder-open"></i>  <span class="hidden-xs">浏览</span><input type="file" name="file" id="file2" multiple="" onchange="showFileName(this.value,2)">
						</div>
						</div>
					</div>
			 	</td>
			 	<td>
		 			<div>
					<button id="submitSchedule" type="button" class="btn btn-primary" style="margin-left:0">上传</button>
					</div>	
				</td>
				</tr>
			</table>	
 

		</div>
		
		<div style="margin-left:15px" id="2">
			<label id="schedulelabel" th:if="${courseModel.scheduleName}!='0'" class="col-form-label"><strong style="color:red">*&thinsp;</strong><a href="#" id="scheduleName" th:text="${courseModel.scheduleName}">大纲</a></label>
			&nbsp;&nbsp;
			<a th:style="${courseModel.scheduleName}=='0'?'display:none'" class="teachers-delete-schedule" role="button"> 
			<i class="fa fa-times-circle fa-lg text-danger" title="删除教学进度表"></i>
			</a>
		</div>
	</div>
	
</form>
 
</div>
<!-- /.container -->


 <!-- JavaScript -->
<script src="../../js/teachers/upload.js" th:src="@{/js/teachers/upload.js}"></script>