<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: header}">
</head>



<body>
<!-- Page Content -->
<div class="container blog-content-container">

    <div class="row">

        <!--左侧栏目-->
        <div class="col-md-8"  >
        
			<div id="rightContainer">
            <!-- 宗旨 -->
            <div class="card mb-4">
            	
            	<h2 class="card-header" style="text-align:center"><i class="fa fa-lightbulb-o"></i>&nbsp;专题宗旨</h2>
            
                <div class="card-block">
                    <p th:utext="${Model.pm.mark}" >
					</p>
                </div>
            </div>

            <!-- 最新消息 -->
            <div class="card mb-4">
            	<div style="position:relative">
            	<h3 class="card-header"  style="text-align:center"><i class="fa fa-newspaper-o"></i>&nbsp;最新消息</h3>
	            <a href="javascript:void(0);" style="float:right;font-size:16px;position:absolute;right:5px;bottom:5px;" onclick="more()">更多>></a>
	            </div>
	            <table class="table table-striped">
					<tr th:each="whatsNew : ${Model.whatsNewList}">
						<div class="card mb-4">
			                <div class="card-block">
			                    <h4 class="card-title">
			                        <a th:href="@{'/details/whatsNew/'+${whatsNew.id}}" class="card-link" th:text="${whatsNew.events}" style="display:block; width:95%; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;"></a>
			                    </h4>
			                    <div class="card-text">
			                        	发表于 <span th:text="${whatsNew.startTime}"></span>
			                    </div>
			                </div>
			            </div>
					</tr>
				</table>
				<!-- 分页 -->
            	<!-- <div th:replace="~{fragments/page :: page}">...</div> -->
            </div>
			</div>
        </div>

        <!-- 右侧栏目 -->
        <div class="col-md-4">
            <div>
     <!--            热门标签
                <div class="card ">
                    <h5 class="card-header"><i class="fa fa-tags" aria-hidden="true"></i> 热门标签</h5>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-12">
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Web Design</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Jersey</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">JavaScript</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">CSS</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Java</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Freebies</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Web Design</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Jersey</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">JavaScript</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">CSS</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Java</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Freebies</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Web Design</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Jersey</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">JavaScript</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">CSS</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Java</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Freebies</span></a>
                            </div>
                        </div>
                    </div>
                </div> -->


                <!-- 热门课程 -->
                <div class="card my-4">
                    <h5 class="card-header"><i class="fa fa-fire" aria-hidden="true"></i> 热门课程</h5>

                    <ul class="list-group" th:each="course : ${Model.courseList}">
                    	
                        <a href="javascript:;" class="list-group-item" th:utext="'<i class=\'fa fa-book\'></i>&nbsp;'+${course.name}"></a>
                    </ul>

                </div>
                <!-- 热门教师 -->
                <div class="card my-4">
                    <h5 class="card-header"><i class="fa fa-users" aria-hidden="true"></i> 热门教师</h5>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-12">
					            <table th:each="teacher : ${Model.teacher}">
					            <tr  class="list-group">
						            <td>
						            <span>
					                  <a href="javascript:;" th:onclick="'javascript:teaherDetail('+${teacher.userName}+');'">
					                    <img th:if="${teacher.avatar}==null" th:src="@{../images/avatar-defualt.jpg}" class="blog-avatar-50">
					                  	<img th:if="${teacher.avatar}!=null" th:src="@{'http://127.0.0.1/'+${teacher.avatar}}" class="blog-avatar-50">
					                  	&nbsp;
					                  <span href="javascript:;" th:text="${teacher.name}"></span>
					                  </a>
					                </span>
						            </td>
						            <td>

						            </td>
					            </tr>
					            </table>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- 组长责任 -->
                <div class="card my-4">
                    <h5 class="card-header"><i class="fa fa-address-book-o" aria-hidden="true"></i> 组长责任</h5>
                    <div class="card-block">
                        <p th:utext="${Model.lmr.LeaderResponsibility}" >
					</p>
                    </div>

                </div>
                
                <!-- 组员责任 -->
                <div class="card my-4">
                    <h5 class="card-header"><i class="fa fa-address-book" aria-hidden="true"></i> 组员责任</h5>
                    <div class="card-block">
                        <p th:utext="${Model.lmr.MemberResponsibility}" >
					</p>
                    </div>

                </div>
                
                <!-- 最新小队 -->
<!--                 <div class="card my-4">
                    <h5 class="card-header"><i class="fa fa-address-card" aria-hidden="true"></i> 最新小队</h5>
                    <div class="card-block">
                        <p th:utext="" >
					</p>
                    </div>

                </div> -->
                
                
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->


<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
<!-- JavaScript -->
<script src="../js/details/whatsNew.js" th:src="@{/js/details/whatsNew.js}"></script>

</html>