<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: header}">
</head>



<body>
<!-- Page Content -->
<div class="container blog-content-container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <!-- 宗旨 -->
            <div class="card mb-4">
            	
            	<h2 class="card-header"  style="text-align:center"><i class="fa fa-lightbulb-o"></i>&nbsp;宗旨</h2>
            
                <div class="card-block" id="mark">
                    <p id="pmark" th:text="${Model.pm.mark}" style="display:none">
					</p>
                </div>
            </div>



            <!-- 最新消息 -->
            <div class="card mb-4">
            	<h3 class="card-header"  style="text-align:center"><i class="fa fa-newspaper-o"></i>&nbsp;最新消息</h3>
	            <table class="table table-striped">
					<tr th:each="whatsNew : ${Model.whatsNewList}">
						<div class="card mb-4">
			                <div class="card-block">
			                    <h4 class="card-title">
			                        <a href="javascript:;" class="card-link" th:text="${whatsNew.events}" style="display:block; width:95%; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;"></a>
			                    </h4>
			                    <div class="card-text">
			                        	发表于 <span th:text="${whatsNew.startTime}"></span>
			                    </div>
			                </div>
			            </div>
					</tr>
				</table>
				<!-- 分页 -->
            	<div th:replace="~{fragments/page :: page}">...</div>
            </div>

        </div>

        <!-- 右侧栏目 -->
        <div class="col-md-4">
            <div>
     <!--            热门标签
                <div class="card ">
                    <h5 class="card-header"><i class="fa fa-tags" aria-hidden="true"></i> 热门标签</h5>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-12">
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Web Design</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Jersey</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">JavaScript</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">CSS</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Java</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Freebies</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Web Design</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Jersey</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">JavaScript</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">CSS</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Java</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Freebies</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Web Design</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Jersey</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">JavaScript</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">CSS</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Java</span></a>
                                <a href="/blogs?tag=1"> <span class="badge badge-default">Freebies</span></a>
                            </div>
                        </div>
                    </div>
                </div> -->


                <!-- 热门课程 -->
                <div class="card my-4">
                    <h5 class="card-header"><i class="fa fa-fire" aria-hidden="true"></i> 热门课程</h5>

                    <ul class="list-group" th:each="course : ${Model.courseList}">
                        <a href="javascript:;" class="list-group-item" th:text="${course.name}"></a>
                    </ul>

                </div>
                <!-- 热门教师 -->
                <div class="card my-4">
                    <h5 class="card-header"><i class="fa fa-users" aria-hidden="true"></i> 热门教师</h5>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-12">
	                            <ul class="list-group" th:each="course : ${Model.courseList}">
									<span th:each="teacherAvatar : ${Model.teacherAvatar}">
					                  <a href="javascript:;">
					                    <img th:src="${teacherAvatar}" class="blog-avatar-50">
					                  </a>
					                </span>	
									<span th:each="teacher : ${Model.teacher}">
									<a href="javascript:;" th:text="${teacher.teacherName}">
					                  </a>
									</span>              
					            </ul>

                            </div>
                        </div>
                    </div>
                </div>



                <!-- 最新发布 -->
                <div class="card my-4">
                    <h5 class="card-header"><i class="fa fa-line-chart" aria-hidden="true"></i> 最新发布</h5>
                    <div class="list-group">
                        <ul class="list-group">
                            <a href="/u/waylau/blogs/1" class="list-group-item" title="waylau">
                                Spring Data + Thymeleaf 3 + Bootstrap 4 实现分页器
                            </a>
                            <a href="/u/waylau/blogs/1" class="list-group-item" title="waylau">
                                用大白话聊聊分布式系统
                            </a>
                            <a href="/u/waylau/blogs/1" class="list-group-item" title="waylau">
                                用大白话聊聊分布式系统>
                            </a>
                            <a href="/u/waylau/blogs/1" class="list-group-item" title="waylau">
                                使用 Eclipse Checkstyle Plugin
                            </a>

                            <a href="/u/waylau/blogs/1" class="list-group-item" title="waylau">
                                使用 Eclipse Checkstyle Plugin
                            </a>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->


<div th:replace="~{fragments/footer :: footer}">...</div>
</body>
<!-- JavaScript -->
 <script src="../../ckeditor/ckeditor.js"></script>
<script src="../js/index/main.js" th:src="@{js/index/main.js}"></script>
</html>