<div class="container">
 
<form th:action="@{/super/}" method="post" th:object="${whatsNewModel.whatsNew}" id="whatsNewForm">
	<input type="hidden" name="id" th:value="0">
	
	 <div class="form-group ">
		<label for="startTime" class="col-form-label">曝光开始时间</label>
			<div class="input-group date form_date1 col-md-13" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">

               <input class="form-control" id="startTime" name="startTime" th:value="*{startTime}" size="16" type="text" placeholder="请选择曝光开始时间" readonly>
               
               <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>

            </div>
			<input type="hidden" id="dtp_input2" value="" /><br/>
		
		
		
		
	
	</div>
	
	<div class="form-group ">
		<label for="endTime" class="col-form-label">曝光结束时间</label>
		<div class="input-group date form_date2 col-md-13" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                    
            <input class="form-control" id="endTime" name="endTime"  th:value="*{endTime}" size="16" type="text" placeholder="请选择曝光结束时间" readonly>
            
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
		<input type="hidden" id="dtp_input2" value="" /><br/>
		
		
	
	</div>
	
	 <div class="form-group ">
		<label for="departmentList" class="col-form-label">发布单位</label>
		
	 	  <br>
		<select id="departmentId" name="departmentList.id"  th:remove="all-but-first" class="form-control">  
		
			<option th:each="dept : ${whatsNewModel.departmentLists}"  th:value="${dept.id}" th:text="${dept.department}">
		
			</option>   
        </select>  
	</div> 
	
	<div class="form-group ">
		<label for="type" class="col-form-label">信息类别</label>
		
		<br>
		<select id="newsTypeId" name="newsType.id"  th:remove="all-but-first" class="form-control">  
		
			<option th:each="type : ${whatsNewModel.newsTypes}"  th:value="${type.id}" th:text="${type.messageType}">
		
			</option>   
        </select> 
	</div>
	
	<div class="form-group ">
		<label for="events" class="col-form-label">公告标题</label>
		<input type="text" class="form-control" id="events" name="events"  th:value="*{events}" maxlength="32" placeholder="请输公告标题">
	</div>
	
	<div class="form-group ">
		<label for="note" class="col-form-label">内容说明</label>
		<textarea type="text" rows="3" cols="20" class="form-control" id="note" name="note"  th:value="*{note}" maxlength="32" placeholder="请输内容说明"/>
	</div> 
</form>
 
</div>
<!-- /.container -->


<script src="../../js/super/whatsNew.js" th:src="@{/js/super/whatsNew.js}"></script>
 