

<div class="card-header bg-dark font-white">

	<div class="input-group col-md-7 col-xl-6">

		<input type="text" class="form-control" id="searchName"
			placeholder="输入公告标题称进行搜索"> <span class="input-group-btn">
			<button class="btn btn-secondary" type="button" id="searchNameBtn">
				<i class="fa fa-search" aria-hidden="true"></i>
			</button>
		</span> <a class="btn btn-primary" data-toggle="modal"
			data-target="#flipFlop" role="button" id="addWhatsNew"><i
			class="fa fa-plus" aria-hidden="true"></i></a>

	</div>
</div>

<div id="mainContainer" class="container">
	<div id="mainContainerRepleace" class="row">
		<table class="table table-striped">
			<thead>
				<tr>
					<th data-field="id">曝光开始时间</th>
					<th data-field="code">曝光结束时间</th>
				    <th data-field="departmentList">发布单位</th> 
				 	<th data-field="newsTypes">信息类别</th>
					<th data-field="events">公告标题</th>
					<th data-field="operation">操作</th>
				</tr>
			</thead>
			<tbody>

				<tr th:each="whatsNew : ${whatsNewModel.whatsNewList}">
					<td th:text="${whatsNew.startTime}">编号</td>
					<td th:text="${whatsNew.endTime}">代码</td>
				    <td th:text="${whatsNew.departmentList.department}">发布单位</td>
					<td th:text="${whatsNew.newsType.messageType}">信息类别</td> 
					<td th:text="${whatsNew.events}">公告标题</td>
					<td>
						<div>
							<a class="super-edit-whatsNew" data-toggle="modal"
								data-target="#flipFlop" role="button"
								data-th-attr="whatsNewId=${whatsNew.id}"> <i
								class="fa fa-pencil-square-o" aria-hidden="true"></i>
							</a> <a class="super-delete-whatsNew" role="button"
								data-th-attr="whatsNewId=${whatsNew.id}"> <i class="fa fa-times"
								aria-hidden="true"></i>
							</a>
						</div>
					</td>
				</tr>

			</tbody>

		</table>
		<div th:replace="~{fragments/page :: page}">...</div>

	</div>
</div>

<!-- The modal -->
<div class="modal fade" id="flipFlop" tabindex="-1" role="dialog"
	aria-labelledby="modalLabel" aria-hidden="true" >
	<div class="modal-dialog" role="document">
		<div class="modal-content" style="width:700px">
			<div class="modal-header">
				<h5 class="modal-title" id="modalLabel">新增/编辑</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" id="formContainer" ></div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal" id="submitEdit">提交</button>
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<!-- JavaScript -->
<script src="../../js/super/whatsNew.js" th:src="@{/js/super/whatsNew.js}"></script>

